.stats-count {
    font-size: 2em;
    color: var(--ion-color-primary-shade);
}

.subtitle {
    font-size: 1.15em;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-weight: lighter;
    color: var(--ion-color-dark);
}