.book-image {
    background: var(--ion-color-tertiary-shade);
    padding: 1em 0;
    ion-img {
        width: 250px;
        margin: 0 auto;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
        
    }
    .book-title {
        color: var(--ion-color-light);
        font-weight: bold;
        font-size: 2em;
        text-align: center;
        margin: 0;
        padding: 0.33em 0 0 0;
        letter-spacing: 0.025em;
    }
    ion-item {
        padding: 0.25em 0;
    }
}

.info {
    font-weight: bold;
    color: var(--ion-color-dark-tint);
    text-transform: uppercase;
    font-stretch: expanded;
    text-align: left;
}