<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="dismissModal()">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-button>
    </ion-buttons>
        <ion-title class="book-title">
        {{ book.name }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="book-image">
      <ion-img src="{{ book.thumbnailUrl }}"></ion-img>
      <h2 class="book-title">{{ book.name }}</h2>
  </div>

  <ion-list class="metadata">
    <ion-item lines="none">
        <ion-label text-wrap>
            <ion-text>
                <h3>Author(s):</h3>
            </ion-text>
            <ion-text>
                <p>{{ book.authors }}</p>
            </ion-text>
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-label text-wrap>
            <ion-text>
                <h3>Finished:</h3>
            </ion-text>
            <ion-text>
                <p>{{ book.isFinished.toString() | titlecase }}</p>
            </ion-text>
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-label text-wrap>
            <ion-text>
                <h3>Format Owned:</h3>
            </ion-text>
            <ion-text>
                <p>{{ book.formatOwned | titlecase }}</p>
            </ion-text>
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-label text-wrap>
            <ion-text>
                <h3>Start Date:</h3>
            </ion-text>
            <ion-text *ngIf="book.startDate === null">
                <p>No Date</p>
            </ion-text>
            <ion-text>
                <p>{{ book.startDate | date }}</p>
            </ion-text>
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-label text-wrap>
            <ion-text>
                <h3>Finish Date:</h3>
            </ion-text>
            <ion-text *ngIf="book.finishDate === null">
                <p>No Date</p>
            </ion-text>
            <ion-text>
                <p>{{ book.finishDate | date }}</p>
            </ion-text>
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-label text-wrap>
            <ion-text>
                <h3>ISBN:</h3>
            </ion-text>
            <ion-text>
                <p>{{ book.isbn }}</p>
            </ion-text>
        </ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-label text-wrap>
            <ion-text>
                <h3>Page Count:</h3>
            </ion-text>
            <ion-text>
                <p>{{ book.pageCount }}</p>
            </ion-text>
        </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>