<div class="book-form">
  <form [formGroup]="bookForm">
      <ion-item>
          <ion-label position="stacked">Title</ion-label>
          <ion-input name="title"
          formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Authors</ion-label>
          <ion-input name="authors"
           formControlName="authors"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Finished Reading</ion-label>
            <ion-checkbox slot="start" color="primary"
            formControlName="isFinished"></ion-checkbox>
          </ion-item>
        <ion-item>
          <ion-label position="stacked">Start Date</ion-label>
          <ion-datetime display-format="DD-MMM-YYYY"
          formControlName="startDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Finish Date</ion-label>
          <ion-datetime display-format="DD-MMM-YYYY"
          formControlName="finishDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Format Owned</ion-label>
          <ion-select value="list" formControlName="formatOwned">
            <ion-select-option value="physical">Physical</ion-select-option>
            <ion-select-option value="ebook">E-Book</ion-select-option>
            <ion-select-option value="audiobook">Audiobook</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Page Count</ion-label>
            <ion-input name="pageCount"
            formControlName="pageCount"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">ISBN</ion-label>
          <ion-input name="isbn"
          formControlName="isbn"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="saveBook()">Save</ion-button>
  </form>
</div>
