<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Add Book
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-row>
        <ion-col><ion-button expand="block" (click)="getFromBarcode()">Scan Barcode</ion-button></ion-col>
        <ion-col><ion-button (click)="getFromISBN()" expand="block">Add by ISBN</ion-button></ion-col>
      </ion-row>
    <app-book-form [book]="book"></app-book-form>
</ion-content>
