<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Layout:</ion-label>
    <ion-select value="list">
      <ion-select-option value="list">List View</ion-select-option>
      <ion-select-option value="grid">Grid View</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block">Sync to CouchDB database</ion-button>
  <ion-button expand="block">Export Data</ion-button>
</ion-content>
